{% extends "govuk/template.njk" %}

{# Enable the GOV.UK rebrand with blue branding #}
{% set govukRebrand = true %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% block head %}
  <link href="/govuk/govuk-frontend.min.css" rel="stylesheet">
{% endblock %}

{% block bodyStart %}
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a UK Passport",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter() }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/govuk/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}
