{% extends "layout.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - UK Passport Application
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% block mainContent %}{% endblock %}
    </main>
  </div>
{% endblock %}
