{% extends "template.njk" %}

{% set backHref = backHref or "/date-of-birth" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block mainContent %}

  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error,
          href: "#previous-passport"
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios({
          idPrefix: "previous-passport",
          name: "previousPassport",
          fieldset: {
            legend: {
              text: "Have you had a UK passport before?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: error
          } if error,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: value === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: value === "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
